.cal-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: var(--cal-width);
  color: var(--color-2);
  .header-module-container {
    display: flex;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    .dayToday {
      display: flex;
      flex-direction: column;
      .today {
        display: flex;
        padding-left: 12px;
        height: fit-content;
        align-items: center;
        margin-top: 2px;
        .dayPart {
          font-size: 24px;
          font-style: medium;
          font-family:"Sofia Sans", Arial, Helvetica, sans-serif;
          font-weight: 500;
          letter-spacing: -0.045em;
          &.date {
            margin-left: 8px;
            margin-right: 8px;
          }
        }
        .expand-widget {
          position: relative;
          border: 1px solid #84848434;
          height: 90%;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          border-radius: 100%;
          cursor: pointer;
          transition: 200ms ease;
          &:hover {
            border-color: #64646470;
          }
        }
      }
      .time {
        margin-left: 12px;
        display: flex;
        color: var(--color-3);
        .icon {
          scale: .8;
          padding-right: 6px;
          svg {
            fill: var(--color-2)
          }

        }
        .curtime {
          font-family: 'Quicksand';
          font-weight: 800;
        }
        & > div {
          height: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.cal-month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // border: 1px solid black;
  .cursor-pointer svg {
    stroke: var(--color-2)
  }
  .this-month {
    display: flex;
    height: 18px;
    padding-left: 24px;
  }
  .month-name {
    color: var(--color-2);
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 0.035em;
    min-width: 14ch;
    text-align: center;
  }
  .tabber-tab {
    cursor: pointer;
    width: 46px;
    height: 46px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    border-radius: 12px;
    z-index: 1;

    &::after {
      content: "";
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 2px;
      right: 2px;
      height: 1px;
      border-radius: 100%;
      transition: 150ms ease;
      transform: translateY(0px);
      box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.236);
      z-index: -1;
    }
    &.active {
      border: 1px solid rgba(155, 155, 155, 0.267);
      background-color: #ffffffac;
      // .tool-tip,&:hover .tool-tip {
      //   opacity: 0;
      // }
      .tool-tip, &:hover .tool-tip {
        transform: translateY(12px) scale(.9);
      }
      .icon::before {
        opacity: 1;
        transform: translateY(2px) rotate(180deg);
      }
      &::after {
        opacity: .8;
        transform: translateY(0px);
      }


    }
    &:hover {
      .tool-tip {
        opacity: 1;
        visibility: visible;
        transform: translateY(8px) scale(.9);
      }
    }
    .icon {
      position: relative;
      background-color: white;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
      background: white;
      overflow: hidden;
      z-index: 10;
      &:before {
        transition: 200ms ease;
        opacity: 0;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;
        height: 1px;
        border-radius: 100%;
        transition: 150ms ease scale 0ms;
        transform: translateY(12px) rotate(195deg);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.0829);
      }
      svg { 
        &.preset,
        &.clock {
          opacity: .8;
        }
        fill: var(--color);
      };
    }
    .tool-tip {
      padding: 12px;
      border: var(--border);
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      position: absolute;
      bottom: -24px;
      transition: 200ms ease 500ms;
      border-radius: 8px;
      transform: translateY(24px);
      transition: 200ms ease 200ms;
      letter-spacing: 0.035em;
      font-size: 14px;
      font-weight: 600;
      color: #494949d2;
      
    }
  }
}

.tabber-labels {
  display: flex;
  align-items: center;
}
