@use 'header';
@use 'month';
@use 'day';

.calendar {
  margin-left: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}
