
    .cal-month-header {
      display: flex;
      justify-content: space-between;
      .tabber-tab {
        cursor: pointer;
        border: var(--border);
        width: 46px;
        height: 46px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        position: relative;
        z-index: 100;
        margin-bottom: 12px;
        transition: 200ms ease;
        &::after {
          content: "";
          opacity: 0;
          background: var(--slate);
          position: absolute;
          bottom: 0;
          left: 4px;
          right: 4px;
          height: 1px;
          border-radius: 100%;
          transition: 150ms ease;
          transform: translateY(2px);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.586);

        }
        &.active {
          border: 1px solid #ccc;
          background-color: #ffffffac;
          scale: 1.1;
          .tool-tip,&:hover .tool-tip {
            opacity: 0;
          }
          &::after {
          opacity: .8;
          transform: translateY(0px);

          }
          &:before {
            opacity: .8;
            content: "";
            background: var(--slate);
            position: absolute;
            bottom: 0;
            left: 4px;
            right: 4px;
            height: 1px;
            border-radius: 100%;
            transition: 150ms ease;
            transform: translateY(2px);
          }
        }
        &:hover {
          .tool-tip {
            opacity: 1;
            visibility: visible;
            transform: translateY(32px);
          }
        }
        .icon {
          svg { fill: var(--color)};
        }
        .tool-tip {

          padding: 12px;
          border: var(--border);
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
          background-color: white;
          position: absolute;
          bottom: -24px;
          transition: 200ms ease 300ms;
          border-radius: 8px;
          transform: translateY(48px);
        }
      }
    }
    .tabber-labels {
      display: flex;
      color: #222;
    }
    .tabber-modals {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: auto;
      margin-left: 60px;
      overflow-y: scroll;
      .tabber-tab {
        &.active {
          border-bottom: 1px solid #ddd;
        }
      }
    }    
.calendar {
  margin-left: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid #ccc;
}

.cal-month {
  // flex: 1;
  // min-width: calc(80*8px);
  // flex-basis: 0;
  width: var(--cal-width);
  min-height: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border: var(--border);
  .this-month {
    margin: 8px 0px;
    display: flex;
  }
  .month-name {
    color: var(--color);
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 0.035em;
    min-width: 14ch;
    text-align: center;
  }
  .days {
    width: 100%;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    justify-items: start;
    flex: 1 1 auto;
    // border: 1px solid #ccc;
  }
  .day {
    // max-height: 80px;
    // max-width: 80px;
    position: relative;
    margin: 8px;
    border: 1px solid #8484841a;
    flex:0 0 calc(100%/9);
    border-radius: 8px;
    aspect-ratio: 1/ 1;
    box-shadow: 0 0 7px -4px #1b1f2303, 0 0 #1b1f2306, inset -2px 0 1px 1px #ababab03, inset -1px 0 2px #bdbdbd03, 0 1px 4px #1b1f2303;
    cursor: pointer;
    &.bday {
     border: 1px solid lime;

    }
    &:hover::after{
      opacity: 1;
      .daynum {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: 200ms ease;
      border-radius: inherit;
      box-shadow: 0 3px 6px #0000001f, 0 1px 3px #00000020;
    }
    &.null-day {
      background: #f5f5f586;
      .daynum {
        color: #ccc;
      }
    }
    .daynum {
      color: #444;
      font-size: 12px;
      margin-top: 6px;
      margin-left: 12px;
      opacity: .75;
    }
  }
}

.cal-header {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-bottom: 1px solid transparent;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: var(--cal-width);
  height: fit-content;
  color: #494949;
  .header-module-container {
    display: flex;
    padding-top: 12px;
    padding-bottom: 10px;
    .dayToday {
      display: flex;
      flex-direction: column;
      .today {
        display: flex;
        padding-left: 12px;
        height: fit-content;
        align-items: center;
        .dayPart {
          font-size: 24px;
          font-style: medium;
          font-family:"Sofia Sans", Arial, Helvetica, sans-serif;
          font-weight: 500;
          letter-spacing: -0.045em;
          &.date {
            margin-left: 8px;
            margin-right: 8px;
          }
        }
        .expand-widget {
          position: relative;
          border: 1px solid #84848434;
          height: 90%;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          border-radius: 100%;
          cursor: pointer;
          transition: 200ms ease;
          &:hover {
            border-color: #64646470;
          }
        }
      }
      .time {
        margin-top: -6px;
        margin-left: 16px;
        display: flex;
        .icon {
          padding-right: 6px;

        }
        .curtime {
          font-family: 'Quicksand';
          font-weight: 800;
        }
        & > div {
          height: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
