.interface-modal.events {
  position: relative;
  margin-bottom: 40px;
  flex: 1;
  flex-direction: column;
  border: 1px solid transparent;
  overflow: visible;
  .interface-header {
    margin-bottom: 28px;
    .btn-add-event {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: -6px;
        display: flex;
        height: 52px;
        border: 1px solid var(--border-1);
        padding: 0px 8px;
        border-radius: 8px;
        & > div {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        .icon {
          border-right: 1px solid var(--border-1);
          padding-right: 8px;
          opacity: .65;
          svg {
            stroke: var(--color);
          }
        }
        .label {
          padding-left: 8px;
          font-weight: 600;
          letter-spacing: 0.08em;
          color: var(--color);
          opacity: .85;
        }
      }
  }
  .section {
    border: 1px solid var(--border-1);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    min-height: 150px;
    position: relative;
    .section-title {
      font-size: 18px;
      font-weight: 600;
      color: var(--color-3);
      letter-spacing: 0.075em;
      opacity: .9;
    }
    .bullet {
        text-transform: capitalize;
        font-weight: 600;
        opacity: .62;
        font-size: 18px;
        position: relative;
        margin-left: 24px;
        font-size: 14px;
        letter-spacing: 0.1em;
        &::after {
          content: "";
          left: -12px;
          top: 8px;
          height: 4px;
          width: 4px;
          background: rgba(63, 63, 63, 0.811);
          border-radius: 100%;
          position: absolute;
        }
      }

    .btn-add-event {
      position: absolute;
      bottom: 12px;
      right: 24px;
      display: flex;
      border-radius: 42px;
      cursor: pointer;
      .text {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        border-radius: inherit;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.125em;
        color: var(--color-3);
        transform: translateX(10px);
      } 
    }
    .btn-add-icon {
      height: 42px;
      width: 42px;
      z-index: 1;
      overflow: hidden;
      box-shadow: 0px 1px 4px -2px rgba(85, 85, 85, 0.264);
      border-radius: 100%;
      border: 1px solid var(--border-1);

      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        stroke: var(--color-2)
      }
    }
  }
  .event-form-modal {
    box-shadow: -6px 10px 30px -26px rgba(45, 45, 45, 0.9);
    position: absolute;
    top: 72px;
    left: -524px;
    min-height: 380px;
    min-width: 300px;
    width: 500px;
    background: white;
    z-index: 10;
    border: 1px solid var(--border-3);
    border-radius: 28px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    padding: 10px 24px;
    padding-bottom: 40px;
        input,
      textarea,
      select {
        padding: 8px 12px;
        padding-left: 8px;
        border-radius: 6px;
        border: 1px solid var(--border-1);
        color: #a9a9a9;
        outline: none;
        letter-spacing: 0.05rem;
        &:focus,
        &.checked {
          border: 1px solid var(--border-3);
          color: var(--color-2);
        }
      }
      input[type="number"] {
        width: 6ch;
        padding: 8px 6px;
        margin-left: 12px;
        text-align: center;
        font-weight: 600;
        font-family: 'Sofia Sans';
      }
      input[name="title"] {
        width: 220px;
      }
      textarea {
          width: 227px;
        height: 64px;
        resize: none;
      }
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      padding: 20px 24px;

    }
    .modal-title {
      font-size: 20px;
      opacity: .8;
      letter-spacing: 0.035em;
      text-transform: capitalize;
    }

    .modal-form-section {
      margin: 12px 0px;
      margin-right: 24px;
      color: var(--color-2);
      .input-label { 
        margin: 6px 0px;
        letter-spacing: 0.025em;
      }
      &.title {
          margin-right: 32px;
      }
      &.time .time-options {
        display: flex;
        .option {
          margin-right: 32px;
        }
        .duration-options {
          display: inline-flex;
          select {
            padding-left: 8px;
            padding-right: 10px;
          }
        }
        .time-input {
          display: inline-flex;
          .time-type {
            margin-right: 8px;
            padding-left: 8px;
            padding-right: 10px;
          }
          input.digit{
            margin-left: 4px;
          }
          .context-input {
            padding: 2px;
            margin-left: 4px;
          }
        }
      }

    }

    .close {
      cursor: pointer;
      letter-spacing: 0.05em;
    }
    .frequency {
      .input-label {
        font-size: 14px;
      }
      .input-options {
        display: flex;
        .opt {
          border: 1px solid transparent;
          margin-right: 12px;
          padding: 8px;
          border-radius: 6px;
          cursor: pointer;
        }
        .opt.active {
          border: 1px solid var(--border-1)
        }
      }
      .frequency-modal {
        position: relative;
        min-height: 140px;
        margin-top: 12px;
        .flexbox {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 8px;
        }
        fieldset {
          appearance: none;
        }
        .opt {
          position: relative;
            input[type="checkbox"],
            input[type="radio"]{
            margin: 0;
            cursor: pointer;
            position: absolute;
            inset: 0;
            appearance: none;
            border: none;
          }
        }

        .option-modal {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          pointer-events: none;
          display: flex;
          flex-wrap: wrap;
          &.once {
            width: 300px;
          }
          &.active {
            opacity: 1;
            pointer-events: all;
          }
          .fm-list-item {
            margin: 8px;
            width: 120px;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: .123rem;
            color: var(--color-3);
            opacity: .8;
            cursor: pointer;
            border: 1px solid var(--border-1);
            padding: 6px 16px;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
              color: var(--color-2);
              opacity: 1;
            }
            &.active {
              color: var(--blue);
            }
        }
        }

        .dynamic-days .option-buttons {
          .opt {width: 6ch}
        }
        .dynamic-months .option-buttons {
          flex-wrap: wrap;
          margin-left: 40px;
          .opt {width: 8ch;}

        }
        .option-buttons {
          display: flex;
          margin-top: 12px;
          .opt {
            margin: 2px 0px;
            // margin: 2px 6px;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: .123rem;
            color: var(--color-3);
            opacity: .8;
            cursor: pointer;
            border: 1px solid var(--border-1);
            padding: 4px 8px;

          &.active,
          &:hover {
            color: var(--color-2);
            opacity: 1;
          }
          &.active {
            color: var(--blue);
          }
          }
        }
      }
    }
    .time.modal-form-section {
      .checkbox {
        display: flex;
      }
    }
    &.active {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  .daily-modal {
    .option-buttons {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 12px;

      .opt {
        position: relative;
        // margin: 2px 0px;
        margin: 2px 6px;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: .123rem;
        color: var(--color-3);
        opacity: .8;
        cursor: pointer;
        border: 1px solid var(--border-1);
        padding: 8px 8px;
        width: 6ch;
        text-align: center;
        flex: 1;
        input[type="checkbox"],
        input[type="radio"]{
          margin: 0;
          cursor: pointer;
          position: absolute;
          inset: 0;
          appearance: none;
          border: none;
        }
        &.active,
        &:hover {
          color: var(--color-2);
          opacity: 1;
        }
        &.active {
          color: var(--blue);
        }
        &[active="true"]{
          color: var(--blue);
        }
          }
        }

        .datePicker {
          display: inline-flex;
          input[name="dom"] {
            margin-left: 0;
            font-size: 52px;
            border: none;
            width: 100px;
            background: transparent;
          }
          input[name="dom"]:hover + .floating-context,
          input[name="dom"]:focus + .floating-context {
            transform: translate(-4px,10px);
          }
          .floating-context {
            font-size: 24px;
            transform: translate(-28px,10px);
            pointer-events: none;
            z-index: -1;
            font-weight: 800;
            color: var(--color-3);
            opacity: .5;
            transition: 150ms ease;
          }
        }

  }

  .widget-list {
    position: relative;
  }
  .event-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}
