.todo-form {
  form {
    position: relative;
  }
  .container {
    position: relative;
    width: fit-content;
  }
  .flexbox {
    display: inline-flex;
    position: relative;
  }
  .title-field {
    position: relative;
    display: inline-flex;
    align-items: flex-start;

    input {
      padding: 10px;
    }
  }
  .field-menu {
    padding: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    background-color: white;
    .menu-option {
      margin: 8px 0px;
    }
    z-index: 100;
  }
  .btn-open-menu {
    display: inline-flex;
    height: 32px;
    width: 32px;
    border: 1px solid var(--border);
    align-items: center;
    justify-content: center;
    svg {
      stroke: var(--color)
    }
  }
  .field-menu {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    &.active {
      opacity: 1;
    }
  }
  .opt-field {
    display: none;
    &.active {
      display: flex;
    }
  }
}

.todo-list {
  .todo-item {
    margin: 12px 0px;
    padding: 0px 8px;
    font-size: 20px;
  }
}
