@forward './events';
@forward './timers';
@forward './birthdays';
@forward './day';

.tabber-modals {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  .tabber-tab {
    &.active {
      border-bottom: 1px solid #ddd;
    }

  }
}  

.interface-modal {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color);
    // border: 1px solid var(--border-1);
    border-radius: 20px;
    margin-right: 12px;
    // overflow: hidden;

    .interface-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      font-weight: 600;
    }
    .interface-title {
      font-size: 20px;
      opacity: .8;
      letter-spacing: 0.035em;
    }
    .btn-close {
      display: flex;
      align-items: center;
      height: 20px;
      cursor: pointer;
      opacity: .8;
      .icon,
      .label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .label {
        margin-right: 4px;
      }
      .icon {
        padding-top: 2px;
      }
    }
}
