:root {
  --color: #241d1d;
  --color-2: #5c5c5c;
  --color-3: #656565c5;
  --color-4: #1414154d;
  --purple: #3326e3;
  --violet: #4c56e1;

  --orange: #eb5f19;

  --blue-1: #14addb;
--blue-2: rgb(44, 191, 249);
--blue-3: rgb(0, 128, 255);

  --light-blue: #9be8f7;
  --teal: #26e0e3;

  --green: rgb(9, 161, 75);
  --green-2: rgb(36, 143, 36);
  --success-green: #70f09f;

  --pink: pink;
  --red: red;
  
  --black: #000;
  --white: #fff;
  --grey: #a0a0a0;

  --white-1: #fefefe;
  --white-2: #efefef;
  --white-3: #eee;

  --grey-1: #ccc;
  --grey-2: #ddd;
  --grey-3: #f9f9f9;
  --event-grey: rgba(128, 128, 128, 0.626);

  --black-1: #000107;
  --black-2: #222;
  --black-3: #333;

  --slate: #535353;
  --dark-blue: #02041d;
  --slate: #8484841a;
  --ash: #f3f3f3ac;

  --border: rgba(155, 155, 155, 0.267);
  --border-1: #84848434;
  --border-2: rgba(128, 128, 128, 0.1771);
  --border-3: rgba(128, 128, 128, 0.1);

  --overlay-blue: linear-gradient(rgb(182, 243, 248),rgb(130, 221, 246));;
  --overlay-white:  radial-gradient(#ffffff10 50%,#e2e2e207);
  --offwhite: #a0a0a0;
  
  --background: var(--darkmode-background)
  --background-main: #fff;
  --background-dark: #000107;
  --background-neutral: #f9f9f9;
  --darkmode-background: #02041d;
  --svg-background: #fff;

  --font-1: rgba(20, 20, 21, .9);
  --font-2: rgba(20,20,20, .82);
  --font-3: rgba(20, 20, 21, .67);
  --font-light: #656565c5;

  --main-clr__light: #333;
  --sub-clr__light: #333;
  --font-clr__light: rgba(20, 20, 21, .9);

  --preview-black: var(--darkmode-background);
  --preview-grey: #f9f9f9;

  --shadow-top-lg: 0px 20px 40px -10px rgba(95, 95, 95, 0.112);

}
