:root {
  --color: #241d1d;
  --purple: #3326e3;
  --orange: #eb5f19;
  --blue: #14addb;
  --teal: #26e0e3;

  --border-1: #84848434;
  --space: 0.035em;
  --slate: #8484841a;
  --ash: #f3f3f3ac;
}
