@use './colors.scss';
@use './shadows.scss';

@forward './dims.scss';
@forward './reset.scss';

@forward './components/tabs/tabber.scss';
@forward './components/calendar/calendar.scss';
@forward './components/timers/timers.scss';

html {
  margin: 0;
}

body {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #333;
}

#root {
  box-sizing: border-box;
  height: calc(100vh - 16px);
  width: calc(100vw - 16px);
  border-radius: 8px;
  display: flex;
  position: relative;
  overflow: hidden;
  background: white;
}

.app {
  position: relative;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 24px;
  flex: 1;

  .app-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: var(--cal-width);
  color: var(--color-2);
  .header-module-container {
    display: flex;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    .dayToday {
      display: flex;
      flex-direction: column;
      .today {
        display: flex;
        padding-left: 12px;
        height: fit-content;
        align-items: center;
        margin-top: 2px;
        .dayPart {
          font-size: 24px;
          font-style: medium;
          font-family:"Quicksand", Arial, Helvetica, sans-serif;
          font-weight: 500;
          letter-spacing: 0.005em;
          &.date {
            margin-left: 8px;
            margin-right: 8px;
          }
        }
        .expand-widget {
          position: relative;
          border: 1px solid #84848434;
          height: 90%;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          border-radius: 100%;
          cursor: pointer;
          transition: 200ms ease;
          &:hover {
            border-color: #64646470;
          }
        }
      }
      .time {
        margin-left: 12px;
        display: flex;
        color: var(--color-3);
        .icon {
          scale: .8;
          padding-right: 6px;
          svg {
            fill: var(--color-2)
          }

        }
        .curtime {
          font-family: 'Quicksand';
          font-weight: 800;
          letter-spacing: 0.02em;
        }
        & > div {
          height: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
}

.navbar {
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
  .page-link {
    margin: 8px;

    a {
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
  }

}

