@use './colors.scss';
@use './shadows.scss';
@forward './dims.scss';
@forward './reset.scss';

@forward './components/birthdays.scss';
@forward './components/calendar/calendar.scss';
@forward './components/timers/timers.scss';

.app,#root {
  height: 100%;
  width: 100%;
}
.app {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;;
  display: flex;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
  .page-link {
    margin: 8px;

    a {
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
  }

}

.interface-modal {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    color: var(--color);
    border: 1px solid var(--border-1);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;

    .interface-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      font-weight: 600;
    }
    .interface-title {
      font-size: 20px;
      opacity: .8;
      letter-spacing: 0.035em;
    }
    .btn-close {
      display: flex;
      align-items: center;
      height: 20px;
      cursor: pointer;
      opacity: .8;
      .icon,
      .label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .label {
        margin-right: 4px;
      }
      .icon {
        padding-top: 2px;
      }
    }
}

.tabber-modals {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding-right: 12px;
  .tabber-tab {
    &.active {
      border-bottom: 1px solid #ddd;
    }
  }
}  
