@use './colors.scss';

@forward './dims.scss';
@forward './reset.scss';

@forward './components/birthdays.scss';
@forward './components/calendar.scss';
@forward './components/timer.scss';

.app,#root {
  height: 100%;
  width: 100%;
}

.app {
  font-family: 'Quicksand';
  display: flex;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
  .page-link {
    margin: 8px;

    a {
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
  }

}
