@forward './timer.scss';
@forward './timerList';
@forward './timerWidget';
@forward './btnAdd';

.create-timer-modal {
    position: absolute;
    width: 300px;
    top: 124px;
    left: -324px;
    padding: 12px 24px 24px 12px;
    background: white;
    box-shadow: 0 0 7px -4px #1b1f2303, 0 0 #1b1f2306, inset -2px 0 1px 1px #ababab03, inset -1px 0 2px #bdbdbd03, 0 1px 4px #1b1f2303;
      box-shadow: 0 4px 6px 0px #0000001f, 0 0px 12px -2px #64646430;

    // border: 1px solid red;
    border: 1px solid var(--border-1);
    border-radius: 16px;
    z-index: 100;
    display: none;
    &.active {
      display: flex;
      flex-direction: column;
    }
    .modal-header {
      display: flex;
      justify-content: space-between;
      padding:24px;
      opacity: .8;

      .modal-title {
        font-size: 20px;
        font-weight: 600;
        color: var(--color);
      }
      .close {
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        letter-spacing: var(--space-2);
        cursor: pointer;
      }

    }
    .form {
        padding: 12px;
        input {
          border: 1px solid #ccc;
          padding: 8px 10px;
          border-radius: 8px;
          margin: 6px 0px;
          font-size: 18px;
          color: #333;
        }
      }
  }
